# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
**/local.properties
android/key.properties
*.keystore

# iOS
Pods/
Podfile.lock
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/

# IDEs
.idea/
.vscode/
*.iml

# Build outputs
**/build/
*.apk
*.aab

# Misc
.DS_Store
Thumbs.db

# Environment
.env
.env.*
*.log